{% extends 'vd_app/base.html' %}

{% block title %}
    How to Use
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg rounded-lg p-4">
                <h1 class="text-center mb-4">How to Use the Video Downloader</h1>
                <p>Follow these simple steps to download videos from various platforms:</p>
                <ol>
                    <li>Copy the video URL from Facebook, YouTube, Instagram, TikTok, or Twitter.</li>
                    <li>Paste the URL into the input field on the homepage.</li>
                    <li>Click the "Download" button.</li>
                    <li>Your video will be ready to download!</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}
